[report]
fail_under = 100
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

[run]
source =
    django_admin_generator
    test_project

branch = True
parallel = True
omit =
    */__about__.py
    */test_project/*
    */metadata.py

[paths]
source =
    django_admin_generator
    test_project

