Django==1.6.2
Jinja2==2.7.2
MarkupSafe==0.19
Pygments==1.6
Sphinx==1.2.2
Sphinx-PyPI-upload==0.2.1
anyjson==0.3.3
cov-core==1.7
coverage==3.7.1
django-utils2==1.6.1
docutils==0.11
execnet==1.2.0
pep8==1.5.0
py==1.4.20
pyflakes==0.8
pytest==2.5.2
pytest-cache==1.0
pytest-cov==1.6
pytest-django==2.6
pytest-flakes==0.2
pytest-pep8==1.0.5
python-utils==1.5.2
wsgiref==0.1.2
